.thumbnail {
    padding:0px;
}

.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
body {
	background-color: #76b852;
}
#log {
	font-family: Play, sans-serif;
	float: right;
	display: inline;
	border: 0;
	border-radius: 2px;
	background: #E0E0E0;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	padding: 5px;
	margin: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.ttl{
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	margin: 3px;
}

#reg {
  clear: both;
  font-family: "Play", sans-serif;
  outline: 0;
  background: #E0E0E0;
  width: 500px;
  border: 0;
  border-radius: 2px;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#zdjhint {
  clear: both;
  font-family: "Play", sans-serif;
  outline: 0;
  text-align:center;
  background: #E0E0E0;

  border: 0;
  border-radius: 2px;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.przycisk {
  font-family: "Play", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.reginput {
  font-family: "Play", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.loginput {
  font-family: "Play", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 5px 2px 5px 2px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
}
body
{
  background-color: #eee;
  font-family: 'Rubik', sans-serif;
}

p.success
{
  background: #CF9;
  border: 1px solid #060;
  width: 500px;
  margin: 5px;
  color: black;
  font-weight: bold;
  padding: 2px;
}

p.error
{
  background: #f88;
  border: 1px solid #c00;
  width: 500px;
  margin: 5px;
  color: black;
  font-weight: bold;
  padding: 2px;
}
nav > a
{
  margin: 2px;
  width: auto;
  background: #ff5;
  display: inline-flex;
  cursor: pointer;
}

label
{
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

header, footer
{
  margin: auto;
  padding: 7px;
	background-color: #456987;
	font-size: 16px;
	text-align: center;
	color: #f0f0f0;
	border-radius: 10px;
  /*clear: both;*/
}

@media all and (min-width:950px)
{
  #galeria
  {
    width: 930px;
  }
}
@media all and (min-width:764px) and (max-width:950px)
{
  #galeria
  {
    width: 744px;
  }
}
@media all and (min-width:578px) and (max-width:764px)
{
  #galeria
  {
    width: 558px;
  }
}
@media all and (min-width:392px) and (max-width:578px)
{
  #galeria
  {
    width: 372px;
  }
}
@media all and (max-width:392px)
{
  #galeria
  {
    max-width: 186px;
  }
}

#container
{
  margin: auto;
}

#galeria
{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 3px 3px 3px 3px;
}

img.dymek
{
  margin: 3px 3px 0px 3px;
  border-radius: 10px;
}

a.dymek > span
{
  border-radius: 10px;
  border-top-left-radius: 0px;
  display: none;
  padding: 2px 3px;
  width: 230px;
}

a.dymek:hover > span
{
  display: inline;
  position:absolute;
  margin: 170px 0 0 -170px;
  border: 1px solid #ccc;
  background: rgba(69, 105, 135, 0.9);
  color: white;
  text-align: center;
}
.wyjustowanie{
	width:100%;
}
.wyjustowanie li{
	width:calc(100% / 7);
}

a.imgLink{
    color: white; text-decoration: none;
}
div.imgLink{ 
    position: absolute; left: 163px; top: 1px; font-size: 12px; display: block;
}

.stars{
	margin:auto;
	width:400px;
}
input.star { display: none; }

label.star {
	float:right;
	text-align:center;
	
  margin:auto;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-10:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

